table{
width:80%;
margin: auto;
border: black solid 2px;
}



th, td{
	text-align: center;
border:black solid 2px;
}
#col1,#col2{
	width: 40%;
}
#myDiv {
    -webkit-transform: rotateX(150deg); /* Safari */
    transform: rotateX(150deg);
}